{% extends 'store/main.html' %} 
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder.png' %}" alt="">
            <div class="box-element product"></div>
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to cart</button>
        </div>

        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder.png' %}" alt="">
            <div class="box-element product"></div>
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to cart</button>
        </div>

        <div class="thumbnail" class="col-lg-4">
            <img src="{% static 'images/placeholder.png' %}" alt="">
            <div class="box-element product"></div>
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to cart</button>
        </div>
    </div>
{% endblock content %}